# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Tic-Tac-Toe (Python)/*
!/Simple Tic-Tac-Toe (Python)/task/
/Simple Tic-Tac-Toe (Python)/task/*
!/Simple Tic-Tac-Toe (Python)/task/tictactoe.py
